<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Bank</display-name>
  <context-param>
    <param-name>dburl</param-name>
    <param-value>jdbc:mysql://localhost:3360/bankdb</param-value>
  </context-param>
  <context-param>
    <param-name>dbuname</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbpassword</param-name>
    <param-value>mysql</param-value>
  </context-param>
  <context-param>
    <param-name>dbdriver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>imagelocation</param-name>
    <param-value>C:\xampp\tomcat\webapps\BankImages\</param-value>
  </context-param>
  <servlet>
    <servlet-name>abc</servlet-name>
    <servlet-class>Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>adminFilter</filter-name>
    <filter-class>filters.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>memberFilter</filter-name>
    <filter-class>filters.MemberFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>memberFilter</filter-name>
    <url-pattern>/member/*</url-pattern>
  </filter-mapping>
 <!--  <listener>
  <listener-class>InitinialzationListner</listener-class>
  </listener> -->
  <welcome-file-list>
    <welcome-file>Welcome</welcome-file>
  </welcome-file-list>
</web-app>